:root{

  --bg-grid: hsla(0, 0%, 92%, 0.955); 
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding-left: 12px;
  padding-right: 12px;
}

.container-news {
  min-height: 100vh;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.hero-image .box::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;

  background-image: 
   linear-gradient(
      240deg,
      transparent 75%,
      var(--color-background) 95%
    ),
    linear-gradient(45deg, transparent 78%, var(--color-background) 92%),  radial-gradient(
    ellipse,
    transparent 75%,
    var(--color-background) 100%
  );
}

.gradient-text{
  background: linear-gradient(180deg, #f8af81 0%,   #F97315 80%  , #F97315 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


html,body{
  overflow-x: hidden;
} 
.story-gallery [data-slot="carousel-content"] {
  overflow: visible !important;
}





/* ImageHoverComponent.css */
.image-container {
  position: relative;
  display: inline-block;

}

.fade {
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}


/* ---------------------------- carousel-previous --------------------------- */
.carousel-previous {
  right : 0;
}

.carousel-next {
  right: 0;
}




@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
